/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}


/* Header */

.subheader {
    background-color: #f7f7f7;
    padding: 5px 0px;
    text-align: left;
    position: relative;
}

.subheader .logo {
    margin-left: 20px;
}

.subheader .logo img {
    height: 50px;
    width: auto;
}

.atras {
    background-color: #33615c;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}


/* Sección de Quiénes Somos */

.smc {
    margin-bottom: 10px;
}

#quienes-somos-page {
    padding: 10px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#quienes-somos-page h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#quienes-somos-page p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 35px;
}

#quienes-somos-page span {
    font-weight: 600;
    color: #08233b;
}


/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}