/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}


/* Encabezado */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #644023;
    color: white;
}

header h1 {
    font-size: 24px;
}

#cart-button {
    background-color: #fcdd9c;
    color: rgb(68, 33, 9);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


/* Menú */

.menu {
    padding: 20px;
}

.menu h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #ffe867;
    color: rgb(63, 39, 11);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}


/* Carrito */

#cart {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: none;
}

#cart h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#cart-items {
    list-style: none;
    margin-bottom: 10px;
}

#checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}