/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
}


/* Estilos del Header */

header {
    background-image: url(Assets/Captura.png);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    text-align: center;
    padding: 100px 50px;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    height: 50px;
    width: auto;
}

.header-content h1 {
    font-weight: 800;
    text-overflow: clip;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.donate-button {
    font-weight: 600;
    text-decoration: none;
    background-color: #ffc527;
    /* Amarillo dorado */
    color: #141414;
    border: none;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.donate-button:hover {
    background-color: #fcac00;
}


/* Sección de Quiénes Somos */

#quienes-somos {
    padding: 50px 20px;
    text-align: center;
}

#quienes-somos h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 5px;
}

#quienes-somos h3 {
    color: #213f3b;
}

#quienes-somos p {
    padding: 10px 20px;
    font-size: 1em;
    color: #666;
    max-width: 800px;
    text-align: center;
    margin-bottom: 15px;
}

.info-button {
    background-color: #4ca099;
    text-decoration: none;
    /* Amarillo dorado */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.info-button:hover {
    background-color: #213f3b;
    text-decoration: none;
}


/* Sección de Proyectos */

#proyectos {
    padding: 20px 20px;
    background-color: #fcefc4;
    text-align: center;
}

#proyectos h2 {
    font-size: 2em;
    color: #353535;
    margin-bottom: 10px;
}

.proyecto {
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.proyecto img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.proyecto h3 {
    font-size: 1.2em;
    color: #333;
    margin: 10px;
}

.proyecto p {
    margin: 10px 30px;
    margin-bottom: 20px;
    color: #494949;
}

.proyecto-button {
    background-color: #4ca099;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.proyecto-button:hover {
    background-color: #213f3b;
}


/* Sección de eventos */

#eventos {
    padding: 20px 20px;
    background-color: #cffffb;
    text-align: center;
}

#eventos h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 5px;
}

.evento {
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 20px;
    background-color: #4ca099;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: inherit;
}

.evento img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.evento h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin: 10px;
}

.evento h5 {
    font-size: 1em;
    color: #163532;
    margin: 10px;
}

.evento p {
    margin: 10px 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.evento-button {
    background-color: #163532;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.eventos-button:hover {
    background-color: #213f3b;
}


/* Sección de Información */

#información {
    padding: 50px 20px;
    text-align: center;
    background-color: #213f3b;
    background-position: center;
    background-size: cover;
}

#información h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 5px;
}

#información h3 {
    color: #ffffff;
}

#información p {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    max-width: 800px;
    text-align: center;
    margin-bottom: 15px;
}

.info-button {
    background-color: #4ca099;
    text-decoration: none;
    /* Amarillo dorado */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.info-button:hover {
    background-color: #213f3b;
    text-decoration: none;
}


/* Sección de Contacto */

#contacto {
    padding: 50px 20px;
    text-align: center;
    background-color: #4ca099;
}

#contacto h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

#contacto p {
    font-size: 1em;
    color: #ffffff;
}


/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
}